body {
    /* padding: 3% 10%; */
    /* font-family: 'Merriweather', serif; */
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    color: #916BBF;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
}

hr {
    width: 50%;
    margin: 20px auto;
    border-color: #916BBF;
}


/* HEADER SECTION */

#header {
    padding: 3% 10%;
    background-color: #171717;
    color: aliceblue;
}

.title-info {
    margin-top: 6%;
    line-height: 2;
}

.title-para {
    margin-top: 5%;
    width: 60%;
}



/* NAVBAR */

span {
    /* text-decoration: underline; */
    font-size: 25px;
    color: #916BBF;
}

.navbar-nav {
    margin-right: 20px;
    text-align: center;
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    color: #916BBF;
}


.resume-btn:hover{
    background-color: #916BBF;
    border: 1px solid black;
}




/* PROJECT SECTION */

#projects {
    padding: 3% 10%;
    text-align: center;
    background-color: #fff;
}

.project-container {
    padding: 3% 10%;
    background-color: #171717;
    border-radius: 10px;
}

.projects-title {
    margin: 4% 0;
}

.card {
    margin: auto;
    /* width: 25rem; */
    margin: 20px;
    border: 1px solid #916BBF;
    border-radius: 10px;
}

.card-img-top {
    height: auto;
    max-width: 70%;
    margin: auto;
}

.project-card {
    background-color: #171717;
    color: aliceblue;
}

.card-title {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #916BBF;
}

.btn-dark {
    color: #916BBF;
    margin: 5px 5px 0 5px;
}



/* SKILLS SECTION */

#skills {
    background-color: #171717;
    padding: 3% 10%;
}
.skill-title {
    text-align: center;
    color: aliceblue;
    margin-bottom: 5%;
}

.list-group-item {
    background-color: #171717;
    color: #B983FF;
    line-height: 2;
}




/* CONTACT ME SECTION */

#contact-me {
    background-color: #fff;
    text-align: center;
    color: #916BBF;
    padding: 0 5%;
}

.contact-me-title {
    margin: 3% 0;
    color: #171717;
}
.social-icons {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    color: #916BBF;
}

.social-icons:hover {
    color: gold;
}

.contact-me-card {
    margin: 2% 7%;
    background-color: #171717;
    padding: 2% 0;
}

.mail-to {
    color: #916BBF;
    text-decoration: none;
}

.mail-to:hover {
    color: gold;
}



/* FOOTER */
#footer {
    background-color: #171717;
    color: #916BBF;
    text-align: center;
    padding: 1% 0;
    margin-top: 4%;
    font-size: 15px;
}
.copyright {
    margin-top: 20px;
}


@media (max-width: 900px) {

    h1 {
        font-size: 3.5rem;
        margin-top: 40px;
    }
    h2{
        font-size: 1rem;
        font-weight: bold;
    }
    .title-para {
        width: 100%;
        margin-bottom: 40px;
    }
}
